<div class="container bg-light">
  <div class="row">
    <div class="col">
      <p class="h2">Ongoing Projects</p>
      <div *ngFor="let myprojects of myprojects; let i = index ">
        <div class="alert alert-secondary card" *ngIf="myprojects.finished==false">
          <p style="cursor:pointer" (click)="singleProject(myprojects.id)" class="h4">{{myprojects.name}}</p>
          <p>Description : {{myprojects.description | slice:0:slice(myprojects.id)}}<a (click)="seeMore(myprojects.id)"
              *ngIf=!expanded[myprojects.id] style="color:blue;cursor:pointer;">See more</a>
            <a (click)="seeMore(myprojects.id)" *ngIf=expanded[myprojects.id] style="color:blue;cursor:pointer;">See
              less</a></p>

          <p class="h6 text-danger">Ongoing</p>
        </div>
      </div>
    </div>
    <div class="col">
      <p class="h2">Completed Projects</p>
      <div *ngFor="let myprojects of myprojects; let i = index ">
        <div class="alert alert-success card" *ngIf="myprojects.finished==true">
          <p style="cursor:pointer" (click)="singleProject(myprojects.id)" class="h4">{{myprojects.name}}</p>
          <p>Description : {{myprojects.description | slice:0:slice(myprojects.id)}}<a (click)="seeMore(myprojects.id)"
              *ngIf=!expanded[myprojects.id] style="color:blue;cursor:pointer;">See more</a>
            <a (click)="seeMore(myprojects.id)" *ngIf=expanded[myprojects.id] style="color:blue;cursor:pointer;">See
              less</a></p>
          <p class="h6 text-success">Finished</p>
        </div>
      </div>
    </div>
  </div>
</div>