<div class="container">
  <div class="row">
    <!-- If Not Modify -->
    <div class="col-2">
      <!--       <i style="font-size : 9rem;" class="fas fa-user-circle"></i>
 -->
      <ngx-avatar size="150" value="{{userProfile}}"></ngx-avatar>
    </div>
    <div class="col-6 w-75 p-3">
      <h2><span class="badge badge-light">{{user.firstname}}&nbsp;{{user.lastname}}</span></h2>
      <br>
      <!-- User Edit Button-->
      <div *ngIf="canEdit" title="Edit profile" style="float:right;position:relative;z-index: 2;"><span
          (click)="onModify()" *ngIf="!userModify && !adminModify" class="btn btn-primary"><i
            class="fas fa-user-edit"></i></span></div>

      <!-- Admin Edit Button-->
      <div *ngIf="isAdmin" title="Edit profile" style="float:right;position:relative;z-index: 2;"><span
          (click)="onModify()" *ngIf=!adminModify class="btn btn-warning"><i class="far fa-edit"></i></span></div>

      <!-- Admin Delete Edit Button-->
      <div *ngIf="isAdmin" title="Delete profile" style="float:right;position:relative;z-index: 2;"><span
          (click)="delete()" *ngIf=!adminModify class="btn btn-danger"><i class="fas fa-minus-circle"></i></span></div>

      <div *ngIf="!userModify && !adminModify" class="list-group-item">
        <div class="form-group">
          <label style="font-weight: bold;" for="firstname">ID :</label> &nbsp;
          <span>{{user.id}}</span>
        </div>
        <div class="form-group">
          <label *ngIf="user.status == true" class="text-success" style="font-weight: bold;"
            for="status">Enabled</label>
          <label *ngIf="user.status == false" class="text-danger" style="font-weight: bold;"
            for="status">Disabled</label>
        </div>
        <div class="form-group">
          <label style="font-weight: bold;">First Name :</label> &nbsp;
          <span>{{user.firstname}}</span>
        </div>

        <div class="form-group">
          <label style="font-weight: bold;" for="lastname">Last Name :</label> &nbsp;
          <span>{{user.lastname}}</span>
        </div>

        <div class="form-group">
          <label style="font-weight: bold;" for="role">Role :</label> &nbsp;
          <span>{{user.role}}</span>
        </div>

        <div class="form-group">
          <label style="font-weight: bold;" for="email">Email :</label> &nbsp;
          <span>{{user.email}}</span>
        </div>

        <div class="form-group">
          <label style="font-weight: bold;" for="createdAt">Joined :</label> &nbsp;
          <span>{{user.createdAt| slice:0:10}}</span>
        </div>
        <!--       <div class="form-group">
        <label style="font-weight: bold;" for="email">Projects :</label> &nbsp;
        <span>{{user.project}}</span>
      </div> -->

      </div>
    </div>
  </div>

  <!-- If Modify and User -->
  <div [hidden]="submitted" class="w-75 p-3">
    <form *ngIf=userModify #detailUserForm="ngForm" class="list-group-item">
      <!-- First Name -->
      <div class="form-group">
        <label for="firstname" style="font-weight: bold;">First Name</label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname"
          #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-group">
        <label for="lastname" style="font-weight: bold;">Last Name</label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname"
          #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <!-- Role -->
      <div class="form-group">
        <label style="font-weight: bold;" for="role">Role :</label> &nbsp;
        <span>{{user.role}}</span>
      </div>
      <!-- Email -->
      <div class="form-group">
        <label style="font-weight: bold;" for="email">Email :</label> &nbsp;
        <span>{{user.email}}</span>
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" *ngIf="userModify" class="btn btn-dark" (click)="onModifyCancel()">Cancel</button>

        <button type="button" class="btn btn-success" (click)="update()"
          [disabled]="!detailUserForm.form.valid">Update</button>
      </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <p>{{message}}</p>
    <div class="btn-group btn-group-sm">
    </div>
  </div>

  <!-- If Modify and Admin -->
  <div [hidden]="submitted" class="w-75 p-3">
    <form *ngIf=adminModify #detailUserForm="ngForm" class="list-group-item">
      <!-- Enabled / Disabled  -->
      <div class="form-group">
        <label for="status" style="font-weight: bold;">Status :</label>
        <select class="form-control" id="status" required [(ngModel)]="user.status" name="status" #status="ngModel">
          <option value="true">Enabled</option>
          <option value="false">Disabled</option>
        </select>
      </div>
      <!-- First Name -->
      <div class="form-group">
        <label for="firstname" style="font-weight: bold;">First Name</label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname"
          #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-group">
        <label for="lastname" style="font-weight: bold;">Last Name</label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname"
          #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <!-- Role -->
      <div class="form-group">
        <label for="role" style="font-weight: bold;">Role</label>
        <select class="form-control" id="role" required [(ngModel)]="user.role" name="role" #role="ngModel">
          <option value="Rédacteur/Propriétaire">Rédacteur/Propriétaire</option>
          <option value="Reviewer">Reviewer</option>
          <option value="Project Manager">Project Manager</option>
          <option value="QA Manager">QA Manager</option>
          <option value="Administrateur">Administrateur</option>
        </select>
        <div [hidden]="role.valid || role.pristine" class="alert alert-danger">
          Role is required
        </div>
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="email" style="font-weight: bold;">Email</label>
        <input type="string" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="User's Email" required [(ngModel)]="user.email" name="email" #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email is required/invalid
        </div>
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" *ngIf="adminModify" class="btn btn-dark" (click)="onModifyCancel()">Cancel</button>

        <button type="button" class="btn btn-success" (click)="update()"
          [disabled]="!detailUserForm.form.valid">Update</button>
      </div>
    </form>
  </div>
  <div [hidden]="!submitted">
    <p>{{message}}</p>
    <div class="btn-group btn-group-sm">
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="goBack()" *ngIf="!userModify && !adminModify">Back</button>

  <!--
<button type="button" class="btn btn-info" (click)="onModify()" *ngIf=!modify>Modify</button>
<button type="button" class="btn btn-danger" (click)="delete()" *ngIf=!modify>Delete</button>
-->
</div>