<div class="container-fluid" style="margin-top: 5px;">
  <div class="row">
    <div class="col-">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand">{{activePage}}</a>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <!-- Search Bar -->
      <form *ngIf="isConnected && activePage != 'Wiki'" class="form-inline ml-auto float-left"
        (ngSubmit)="searchFor(searchWord)">
        <div class="md-form my-0">
          <input class="searchbar" [(ngModel)]="searchWord" name="searchWord" type="text" placeholder="Search"
            aria-label="Search" style="margin-top: 4px;">
          <div [hidden]="!noError" class="alert alert-danger">Research must not contain special characters</div>
        </div>
      </form>
    </div>
    <div class="col">
      <div *ngIf=isConnected class="float-right">
        <ul class="navbar-nav" *ngIf="isConnected">
          <li class="nav-item dropdown">

            <a class="dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">


              <div style="cursor:pointer">
                <ngx-avatar value="{{userProfile}}"></ngx-avatar>
              </div>
            </a>
            <i routerLink="/inbox" [ngStyle]="{'color':inboxNotification === true ? 'red' : '' }"
              class="col-3 far fa-bell"></i>

            <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
              aria-labelledby="navbarDropdownMenuLink-55">
              <a class="dropdown-item" (click)="getMyProfile()" style="cursor:pointer;">My Account</a>
              <a class="dropdown-item" (click)="logout()" style="cursor:pointer;">Logout</a>
            </div>

          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 
<nav class="row mb-0 navbar navbar-light navbar-expand-lg">

  <div class="collapse navbar-collapse text-dark d-flex justify-content-around mr-auto">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand">{{activePage}}</a>
      </li>
      <li class="nav-item">
        <form *ngIf="isConnected && activePage != 'Wiki'" class="form-inline ml-auto"
          (ngSubmit)="searchFor(searchWord)">
          <div class="md-form my-0">
            <input class="searchbar" [(ngModel)]="searchWord" name="searchWord" type="text" placeholder="Search"
              aria-label="Search">
          </div>
        </form>
      </li>
    </ul>
    <div *ngIf=isConnected class="container-fluid">
      <div class="d-flex justify-content-around float-right">
        <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="isConnected">
          <li class="nav-item avatar dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <br>
              <div style="cursor: pointer;">
                <ngx-avatar class="nav-item" value="{{userProfile}}"></ngx-avatar>
              </div>

            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
              aria-labelledby="navbarDropdownMenuLink-55">
              <a class="dropdown-item" (click)="getMyProfile()" style="cursor:pointer;">My Account</a>
              <a class="dropdown-item" (click)="logout()" style="cursor:pointer;">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->