<!--Navbar -->
<nav class="row mb-0 navbar navbar-light navbar-expand-lg" style="height: 3.5rem;">

  <div class="navbar-collapse text-dark d-flex justify-content-around mr-auto">

    <!-- Active Page Name -->
    <ul class="col navbar-nav">
      <a class="font-weight-bold text-dark">{{activePage}}</a>
    </ul>
    <!-- Search Bar -->
    <form class="col form-inline ml-auto">
      <div class="md-form my-0">
        <input class="searchbar" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>

    <div *ngIf=isConnected class="container-fluid">
      <div class="d-flex justify-content-around float-right">
        <!-- User Account -->
        <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="isConnected">
          <li class="nav-item avatar dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <br>
              <div style="cursor: pointer;">
                <ngx-avatar class="nav-item" value="{{userProfile}}"></ngx-avatar>
              </div>

            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
              aria-labelledby="navbarDropdownMenuLink-55">
              <a class="dropdown-item" (click)="myProfile()" style="cursor:pointer;">My Account</a>
              <a class="dropdown-item" (click)="logout()" style="cursor:pointer;">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>