<div class="container alert alert-white ">
  <!--   <i (click)="goBack()" style="font-size: 2.5rem;" class="far fa-arrow-alt-circle-left"></i>
 -->
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" style="width: 60%; margin: auto;"
    class="alert alert-light text-dark border border-dark">
    <p class="font-weight-bold h5">User Form</p>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col form-group w-25">
            <div class="container">
              <p>First name
                <input type="text " class="form-control" id="firstname" formControlName="firstname"
                  placeholder="First name" name="firstname" required
                  [ngClass]="{'border border-danger':f.firstname.touched && f.firstname.invalid}">
              </p>
            </div>
          </div>
          <div class="col form-group w-25">
            <div class="container">
              <p>Last name
                <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Last name"
                  required name="lastname"
                  [ngClass]="{'border border-danger':f.lastname.touched && f.lastname.invalid}">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col form-group">
            <div class="container">
              <p>Role
                <select class="form-control" id="role" required name="role" formControlName="role">
                  <option [ngValue]="undefined" selected>User's Role</option>
                  <option value="Redactor">Redactor</option>
                  <option value="Reviewer">Reviewer</option>
                  <option value="Project Manager">Project Manager</option>
                  <option value="QA Manager">QA Manager</option>
                  <option value="Administrateur">Administrateur</option>
                </select>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col form-group">
            <div class="container">
              <div class="row">
                <div class="col">
                  <p>Email
                    <input type="text" id="email" class="form-control" formControlName="email" placeholder="Username"
                      [ngClass]="{'border border-danger':f.email.touched && f.email.invalid || takenEmail}"></p>
                </div>
                <div class="col align-self-center ">
                  <p style="margin-top:8px;" class="h3">@instadeep.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col form-group">
            <div class="container">
              <p>Password
                <input type="password" id="password" class="form-control" placeholder="**********"
                  formControlName="password"
                  [ngClass]="{'border border-danger':f.password.touched && f.password.invalid}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col form-group">
            <div class="container">
              <p>Confirm your password
                <input type="password" id="confirmpassword" class="form-control" placeholder="**********"
                  formControlName="confirmpassword"
                  [ngClass]="{'border border-danger':f.confirmpassword.touched && f.confirmpassword.invalid}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div [hidden]="!iserror" class="alert alert-danger">{{error}}</div>
    <div [hidden]="!noError" class="alert alert-danger">{{errorMessage}}</div>

    <div class="form-group">
      <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary btn-block"> Submit </button>
    </div>
    <div [hidden]="!submitted">
      <p>Submitted Successfully</p>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()">Users</button>
        <button type="button" class="btn btn-dark" (click)="newUser(); signUpForm.reset()">Add again</button>
      </div>
    </div>
  </form>
  <button class="btn btn-dark" (click)="goBack()">Back</button>

</div>