<ngx-loading [show]="load"
  [config]="{animationType: ngxLoadingAnimationTypes.cubeGrid, primaryColour: primaryColour, backdropBorderRadius: '3px',backdropBackgroundColour : 'rgba(0, 0, 0, 0.5)'}">
</ngx-loading>

<mat-sidenav-container class="fullscreen">

  <mat-sidenav-content>
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="!toggled" class="col-sm-1 text-center">
          <span class="align-baseline" style="color:dark; font-size: 2rem; cursor:pointer" title="Sidebar">
            <i *ngIf="isConnected" (click)="toggle(snav)" class="fas fa-bars"></i>
          </span>
        </div>
        <div class="col">
          <app-navbar></app-navbar>
        </div>
      </div>

    </div>
    <router-outlet></router-outlet>
    <br>
  </mat-sidenav-content>

  <mat-sidenav opened="false" [disableClose]="true" #snav position="start" mode="side"
    [ngClass]="role=='Administrateur' ? 'bg-success' : 'bg-info'" class="navbar bg-dark " style="width:15rem;">

    <div>
      <div class="container">

        <div class="row">
          <div class="col"><img src="../assets/instadeeplogo.png" routerLink="/home" class="img-fluid"
              style="cursor: pointer;" alt="Responsive image"></div>
          <div class="col-3"><i (click)="toggle(snav)" style="color:white;cursor: pointer;font-size: 2rem"
              class="fas fa-bars"></i></div>
        </div>

        <div class="row">
          <button class="col btn btn-dark w-100 text-left" routerLink="/home">
            <i class="col-3 fas fa-home"></i>Home</button>
        </div>

        <div class="row">
          <button class="col btn btn-dark w-100 text-left" routerLink="/myprojects">
            <i class="col-3 fas fa-project-diagram"></i>My projects</button>
        </div>

        <div class="row">
          <button class="col btn btn-dark w-100 text-left" routerLink="/inbox">
            <i [ngStyle]="{'color':inboxNotification === true ? 'red' : '' }"
              class="col-3 far fa-bell"></i>Inbox</button>
        </div>

        <div class="dropdown-divider"></div>
        <app-projectlist></app-projectlist>


        <div class="dropdown-divider"></div>


        <div class="row" *ngIf="role=='Administrateur' || role=='Project Manager'"><button
            class="col btn btn-dark w-100 text-left" routerLink="/addproject">Create a project
          </button></div>

        <div class="row">
          <button class="btn btn-dark w-100 text-left" routerLink="/users">Users</button>
        </div>

        <div class="row">
          <button class="btn btn-dark w-100 text-left" routerLink="/wiki">Wiki</button>
        </div>

        <div class="row">
          <button class="btn btn-dark w-100 text-left" routerLink="/adminpannel">Admin</button>
        </div>



      </div>
    </div>

  </mat-sidenav>


</mat-sidenav-container>