<div class="container">
  <div class="w-75 p-3 basic">
    <h5 style="font-weight: bold; color: black;">All Users</h5>
    <input class="form-control ml-3 w-75 search" [(ngModel)]="termPipe" type="text"
      placeholder="Filter by firstname or lastname" aria-label="Search">

    <div *ngFor="let user of ( users | filter : termPipe )" [ngClass]="{'bg-secondary' : !user.status}"
      class="list-group-item" style="width: 120%; font-size:larger;" title="{{ user.email }}">
      <div (click)="viewProfile(user.id)" style="color:black; cursor:pointer;">

        <span class="badge badge-dark">{{user.id}}</span> &nbsp;

        <span><i class="fas fa-user-tie"></i></span> &nbsp;

        <span [ngClass]="role=='Administrateur' ? 'badge badge-warning' : 'badge badge-info'"
          class="badge badge-info">{{ user.firstname }}
          &nbsp; {{ user.lastname }}</span>
        &nbsp;&nbsp;
        <span class="badge badge-warning">{{ user.role }}</span>
        &nbsp;&nbsp;
        <span class="badge badge-light">{{ user.email }}</span>
        <br>
      </div>
    </div>
    <br>
    <a *ngIf="role=='Administrateur'" routerLink="user/add" class="btn btn-dark btn-xl" role="button"
      routerLinkActive="active">Add
      user</a>
  </div>
</div>