<h5 style="font-weight: bold; color: white;">All Users</h5>
<br>
<div class="w-75 p-3">
  <div *ngFor="let user of users " class="list-group-item" style="width: 120%; font-size:larger;">
    <div [routerLink]="['/users', user.id]" style="color:black; cursor:pointer;">

      <span class="badge badge-dark">{{user.id}}</span> &nbsp;

      <span><i class="fas fa-user-tie"></i></span> &nbsp;

      <span class="badge badge-info">{{ user.firstname }}
        &nbsp; {{ user.lastname }}</span>
      &nbsp;&nbsp;
      <span class="badge badge-warning">{{ user.role }}</span>
      &nbsp;&nbsp;
      <span class="badge badge-light">{{ user.email }}</span>
    </div>
  </div>
</div>
<br>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a routerLink="user/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Add user</a>
  </li>
</ul>