<div class="container">

  <div class="row">
    <div class="col">
      <h5 class="text-dark h3">All Users</h5>
    </div>
    <div class="col">
      <a *ngIf="role=='Administrateur'" routerLink="user/add" class="btn btn-outline-dark btn-xl float-right"
        role="button" routerLinkActive="active">Add
        user</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input class="form-control ml search" [(ngModel)]="termPipe" type="text"
        placeholder="Filter by firstname or lastname" aria-label="Search">
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row">

    <div class="col">
      <ng-scrollbar style="max-height: 70vh;" class="lazy-scrollbar" thumbClass="white-scrollbars"
        [disableOnBreakpoints]="false">
        <div class="container list-group-item" style="font-size: 19px;"
          *ngFor="let user of ( users | filter : termPipe )">
          <div class="row cursor" (click)="viewProfile(user.id)">

            <div class="col">
              <div class="container">
                <div class="row">
                  <div class="col-sm-">
                    <span class="badge badge-dark">{{user.id}}</span>
                  </div>
                  <div class="col">
                    <span class="badge badge-info ">{{ user.firstname }}&nbsp; {{ user.lastname }} </span>
                  </div>
                  <div class="col">
                    <span class="badge badge-warning">{{ user.role }}</span>
                  </div>
                  <div class="col">
                    <span class="badge badge-light">{{ user.email }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>