<div class="alert alert-dark">

  <div class="container">
    <i (click)="goBack()" style="font-size: 2.5rem;" class="far fa-arrow-alt-circle-left"></i>

    <form [formGroup]="projectForm" (ngSubmit)="submitProject()" style="width: 70%; margin: auto;"
      class="alert alert-light text-dark border-dark">
      <p class="font-weight-bold h5">Project Form</p>
      <div class="dropdown-divider"></div>
      <div class="form-group ">
        <label for="name">Project Name </label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your project's name"
          name="name" required>
      </div>
      <div class="form-group ">
        <label for="description">Description </label>
        <textarea type="text" class="form-control" id="description" formControlName="description"
          placeholder="Your project's description" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label for="members" class="font-weight-bold">Members</label>
        <div class="row">
          <div class="col">
            <p>Selected members :</p>
          </div>
          <div class="row col">
            <input class="form-control-sm ml-3 w-75 search" [(ngModel)]="termPipe" [ngModelOptions]="{standalone: true}"
              type="text" placeholder="Search" aria-label="Search"><i class="fas fa-search" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ng-scrollbar style="height: 25vh" class="lazy-scrollbar" thumbClass="white-scrollbars"
              [disableOnBreakpoints]="false">
              <div *ngFor="let selectedmember of selectedmembers; let i = index " (click)=" deselectUser(members[i])"
                class="list-group-item" style="cursor:pointer">
                <span class="badge badge-dark">{{selectedmembers[i]}}</span> &nbsp;
              </div>
            </ng-scrollbar>
          </div>
          <div class="col">
            <ng-scrollbar style="height: 25vh" class="lazy-scrollbar" thumbClass="white-scrollbars"
              [disableOnBreakpoints]="false">
              <ng-container *ngFor="let user of ( users | filter : termPipe )">
                <div style="cursor:pointer" *ngIf="status[user.id]!=true && session.id!==user.id && user.status==true"
                  class="list-group-item" (click)="selectUser(user)" [ngClass]="status[user.id] ? 'bg-success' : ''">
                  <div class="row">
                    <span class="badge badge-dark">{{ user.firstname }}
                      &nbsp; {{ user.lastname }}</span>
                    &nbsp;
                    <span class="badge badge-secondary">{{ user.role }}</span>
                  </div>
                </div>
              </ng-container>
            </ng-scrollbar>
          </div>
        </div>
      </div>
      <div [hidden]="!iserror" class="alert alert-danger">{{error}}</div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="projectForm.invalid"> Submit
        </button>
      </div> <!-- form-group// -->

    </form>
    <button class="btn btn-dark" (click)="goBack()">Back</button>

  </div>
</div>