/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


mark{
    color : red;
}
.files:hover {
text-decoration-line: underline;
cursor: pointer;
}


.sign{
    background-color: rgba(255, 255, 255, 0.1);
  
}

.light {
    background-color: rgba(255, 255, 255, 0.8);
}
.space {

    width: 100%;
    height: 4vh;
}
.centered {
    text-align: center;
}
body {
    background-color: black;
    background-size:cover;
    background-repeat:repeat;
   
    min-height: 80vh;

}
li {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.dropdown-menu::before, 
.dropdown-menu::after {
    border: none;
    content: none;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tree-node {
    color: white;
}
.mat-tree {
    background: transparent;
}
.fullscreen {
    height: 100vh;
}

.user {
    width: 3rem;
}

.searchbar{
    width: 15rem;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  
.searchbar:focus {
    width: 35rem;
  }

.decoration {
    box-shadow: 0 3px 0 0 #989b9e, 0 2px 8px 0 #343a40, 0 4px 10px 0 rgba(255, 255, 255, 0.5);
}