<div *ngIf="!isResetting" class="row justify-content-center">
  <div class="card">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email"
            style="font-size: 20px;height: 110%;">
          <span class="text-dark h2 font-weight-bold ">@instadeep.com</span>
        </div>
        <div class="form-group">
          <input style="font-size: 20px;height: 110%;" type="password" id="password" class="form-control"
            autocomplete="off" placeholder="**********" formControlName="password">
        </div> <!-- form-group// -->
        <div [hidden]="!iserror" class="alert alert-danger">{{error}}</div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="signInForm.invalid"> Login </button>
        </div> <!-- form-group// -->
        <a class="float-right" style="cursor:pointer" (click)="isResetting = true">Forgot?</a>
      </form>
    </article>
  </div> <!-- card.// -->
</div>

<!-- Reset your password  -->
<div *ngIf="isResetting" class="row justify-content-center">
  <div class="card">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1">Reset your password</h4>
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="input-group mb-3">
          <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email"
            style="font-size: 20px;height: 110%;">
          <span class="text-dark h2 font-weight-bold ">@instadeep.com</span>
        </div>
        <div [hidden]="!isreseterror" class="alert alert-danger">{{reseterror}}</div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="resetForm.invalid"> Reset </button>
        </div> <!-- form-group// -->
        <a class="float-right" style="cursor:pointer" (click)="isResetting = false">Cancel</a>

      </form>
    </article>
  </div> <!-- card.// -->
</div>