<div class="container">
  <p class="h6">Projets récents</p>
  <div class="dropdown-divider"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 mr-2 " *ngFor="let myprojects of myprojects">
        <div class="row">
          <div class="col" (click)="viewProject(myprojects.id)">
            <div class="row btn btn-dark d-flex justify-content-center decoration">
              <i style="font-size: 6rem;" class="row fas fa-cubes  "></i>
            </div>
            <div class="row d-flex justify-content-center">
              <p class="text-dark text-center">{{myprojects.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>